<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="http://localhost:4200/" class="navbar-brand"><img width="60" alt="Musala Logo" src="assets/logo.svg">&nbsp;Musala Soft</a></div>
    <ul class="navbar-nav">
        <li><a  routerLink="/gateways" class="nav-link" routerLinkActive="active">View Gateways</a></li>
        <li><a  routerLink="/addgateway" class="nav-link" routerLinkActive="active">Add New Gateway</a></li>
    </ul>
    </nav>
</header>