<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 p-3 mb-2 bg-light text-dark" style="margin: auto;">
        <h4 class="card-title text-dark">Add Gateway</h4>
        
        <form #gatewayForm="ngForm" (ngSubmit)="createGateway(); gatewayForm.resetForm()">
          <div class="form-group">
            <label for="name">Serial Number:</label>
            <input type="name" required #serialNumber="ngModel" [(ngModel)]="gatewayCreate.serialNumber" 
            placeholder="Serial Number" name="serialNumber" [class.is-invalid]="serialNumber.invalid && serialNumber.touched"  
            class="form-control" id="serialNumber">
            <small class="text-danger" [class.d-none]= "serialNumber.valid || serialNumber.untouched">Serial umber is required</small>
          </div>
        
          <div class="form-group">
            <label for="designation">Gateway Name:</label>
            <input [(ngModel)]="gatewayCreate.gatewayName" placeholder="Gateway Name" 
            required #gatewayName="ngModel" [class.is-invalid]="gatewayName.invalid && gatewayName.touched"
            name="gatewayName" class="form-control" id="gatewayName">
            <small class="text-danger" [class.d-none]= "gatewayName.valid || gatewayName.untouched">Gateway name is required</small>
          </div>
          
          <div class="form-group">
            <label for="empId">IPv4 Address </label>
            <input required #ipv4Address="ngModel" [class.is-invalid]="ipv4Address.invalid && ipv4Address.touched" 
            [(ngModel)]="gatewayCreate.ipv4Address" placeholder="IPv4 Address" name="ipv4Address" class="form-control" id="ipv4Address">
            <small class="text-danger" [class.d-none]= "ipv4Address.valid || ipv4Address.untouched">Invalid IPv4 address</small>
          </div>
          <button [disabled]="gatewayForm.form.invalid" class="btn btn-success">Create</button>
        </form>
    </div>
  </div>
</div>
