@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.isa_info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  .isa_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .isa_warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .isa_error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }
  
  .isa_default {
    color: #333;
    background-color: #fff;
  }
  
  .mat-snack-bar-container{
     margin-right: 15px !important;
  }
  
  .mat-simple-snackbar {
    font-size: 15px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;
  }
  
  .mat-radio-button {
    font-size: 14px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;
  }