
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.pointer {
    cursor: pointer;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .center{
    width: 50%;
    margin: auto;
}

.label{
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff !important;
  }
  
  .mat-paginator-navigation-first {
    background: #11c15b;
  }
  
  .label-success{
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff !important;
    background: #11c15b;
  }
  
  .label-warning{
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff !important;
    background: #e5e500;
  }