<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Server Side Pagination in angular
      </mat-card-title>
    </mat-card-header>
  </mat-card>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 15, 20, 30]"
          showFirstLastButtons
          (page)="pageChanged($event)">
        </mat-paginator>
        <div *ngIf="loading;else table">
          <mat-spinner class="center"></mat-spinner>
        </div>

        <ng-template #table>
          <table mat-table [dataSource]="dataSource">
        
            <!-- Serial Number Column -->
            <ng-container matColumnDef="serialNumber">
              <th mat-header-cell *matHeaderCellDef> Serial Number </th>
              <td mat-cell *matCellDef="let row"> {{row.serialNumber}} </td>
            </ng-container>
        
            <!-- Gateway Column -->
            <ng-container matColumnDef="gatewayName">
              <th mat-header-cell *matHeaderCellDef> Gateway Name </th>
              <td mat-cell *matCellDef="let row"> {{row.gatewayName}} </td>
            </ng-container>
        
            <!-- IPv4 Column -->
            <ng-container matColumnDef="ipv4Address">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.ipv4Address}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> View Detail </th>
              <td mat-cell *matCellDef="let row"><button class="btn btn-success" (click)="onSelect(row)" >View Detail</button> </td>
            </ng-container>

            <ng-container matColumnDef="devicelist">
              <th mat-header-cell *matHeaderCellDef> Peripheral Device </th>
              <td mat-cell *matCellDef="let row"><button class="btn btn-secondary" (click)="openDialog(row)" >Peripheral Device</button> </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ng-template>
      </div>